.clinic{
    border-radius: 15px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(93,0,30,0.7);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(93,0,30,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(93,0,30,0.7);
    color: #5d001e;
}

.textDecoration{
    color: #5d001e;
}

.textDecoration:hover{
    text-decoration: none;
    color: gray;
}