.recipesContent {
    margin: auto;
    text-align: center;
}

.recipesTitle {
    color: #5d001e;
}

.recipesHeading {
    width: 70%;
    margin: 0 auto !important;
    text-align: center;
    padding: 0 10px;
}

.recipesHeading h3 {
    margin: 0;
    color: #5d001e;
}