.loginMain {
    padding: 3rem;
    text-align: center;
}

.loginMain h3 {
    margin: 0;
    color: #5d001e;
    font-size: 3rem;
    font-family: 'Caveat', cursive;
}

.loginMain h6 {
    margin: 0 0 1rem;
}

.inputItem {
    width: 70%;
    margin: 8px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(227,175,188,0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(227,175,188,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(227,175,188,0.75);
    background-color: #fff;
}

.inputItemIcon {
    display: inline-block;
}

.inputItem input {
    display: inline-block;
    width: calc(100% - 30px - 1rem);
    padding: 8px 14px 8px 8px;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
}

.inputItem input:focus {
    outline: none;
}

.loginBtn {
    color: #fff;
    background-color: #9A1750;
    padding: 8px 24px;
    margin: 5px 0;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(227,175,188,0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(227,175,188,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(227,175,188,0.75);
}

.loginBtn:focus {
    outline: none;
    border: 2px solid #000;
    border-radius: 15px;
}

.loginBtn:hover {
    outline: none;
    background-color: #e3afbc;
    text-decoration: none;
    transition: 500ms;
}

.spanText {
    font-weight: bold;
}

.errorDiv {
    text-align: center;
    width: 70%;
    margin: 5px auto;
}

.errorBorder {
    border: 2px solid #5D001E !important;
    box-shadow: 0px 0px 4px 1px rgba(93,0,30,0.7) !important;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(93,0,30,0.7) !important;
    -moz-box-shadow: 0px 0px 4px 1px rgba(93,0,30,0.7) !important;
}

@media screen and (max-width: 1485px) {

    .inputItem {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {


    .welcome h1 {
        margin-bottom: 1.2rem;
    }
}